extends templates/card.pug

block vars
  - let title = 'CoinAuth'

block content
  .card.card-login.mx-auto.mt-5
    .card-header CoinAuth is ongoing
    .card-body
      p Please do not close this page, or you will be logged out