extends templates/card.pug

block vars
  - let title = 'CoinAuth'

block content
  .card.card-login.mx-auto.mt-5
    .card-header CoinAuth is ongoing
    .card-body
      p Please do not close or logout this page while in game, or you will be logged out from the game.
      .text-center
        a.d-block.small.mt-3(href='#' onclick='return logoutFirebase();') Logout